

<div>
    <div class="alert alert-info">@Title</div>
    <div class="alert alert-success">
        @if (ChildContent != null)
        {
            <span>@ChildContent</span>
        }
        else
        {
            <p>Hello, from an Empty Render Fragment</p>
        }
    </div>
    <button class="btn btn-danger" @onclick="OnButtonClick">Button to be Clicked</button>
</div>

@code {
    [Parameter]
    public string Title { get; set; } = string.Empty;
    [Parameter]
    public RenderFragment ChildContent { get; set; }
    [Parameter]
    public EventCallback OnButtonClick { get; set; }
}

