@page "/learnBlazor/parentComponent"
<h3>Parent Child Relation</h3>

<_ChildComponent Title="This title is passed as a parameter from the Parent Component">
    Render Fragment From Parent! WooHOO!
</_ChildComponent>

@code {

}

